/*   color code*/

.background_clr{
    background: linear-gradient(90deg,#DE331F  0%, #943025 100%);
    color:white !important;
}
.white{
    color:white;
  }
  .alignCentre{
    text-align: center;
  }

  .background-shadow-3d{
    border-radius: 37px;
     box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.32);
     background-color: #ffffff;
}
    

  .description{
    color:#545454;
    font-size: 1.1rem;
  }

  .border-radius{
    border-radius: 30px;
  }

  /* pop up control */

.popup{
    position:fixed;
    z-index: 3;
    margin-left: 20%;
   
}
@media(max-width:700px){
    .popup{
        margin-left: 0%;
    }
}